### Validate & explore the database generated by our crawler
the db will include more and more tables containing other things as we progress

In [48]:
import sqlite3
import os

# Connect to the database
conn = sqlite3.connect('../roster_reviews.sqlite.db')
cur = conn.cursor()

In [49]:
tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tables in the database:", tables)

Tables in the database: [('sqlite_sequence',), ('subjects',), ('courses',), ('course_descriptions',)]

In [60]:
# go into the courses table and check if there are FA14 courses
cur.execute('SELECT COUNT(*) FROM courses WHERE semester="FA14" AND type="Lecture"').fetchall()

[(2492,)]

# verify the schema connection

In [27]:
import os

current_dir = os.path.abspath("")

def init_db(
    db_path="roster_reviews.sqlite.db",
    schema_path=os.path.join(current_dir, "schema.sql"),
):
    conn = sqlite3.connect(db_path)
    with open(schema_path, "r") as f:
        conn.executescript(f.read())
    conn.commit()
    return conn

conn = init_db()
cur = conn.cursor()

tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tables in the database:", tables)

# Check if the 'courses' table exists and display its schema
if ("courses",) in tables:
    schema = cur.execute("PRAGMA table_info(courses);").fetchall()
    print("\nSchema of the 'courses' table:", schema)

    # Query to check if there are FA14 courses
    cur.execute('SELECT * FROM courses WHERE semester="FA14"')
    rows = cur.fetchall()
    print("\nFA14 Courses:", rows)
else:
    print("\nThe 'courses' table does not exist in the database.")

conn.close()

Tables in the database: [('sqlite_sequence',), ('subjects',), ('courses',), ('course_descriptions',)]

Schema of the 'courses' table: [(0, 'course_id', 'INTEGER', 0, None, 1), (1, 'semester', 'TEXT', 0, None, 0), (2, 'subject', 'TEXT', 0, None, 0), (3, 'name', 'TEXT', 0, None, 0), (4, 'type', 'TEXT', 0, None, 0), (5, 'section_number', 'TEXT', 0, None, 0), (6, 'location', 'TEXT', 0, None, 0), (7, 'days', 'TEXT', 0, None, 0), (8, 'time', 'TEXT', 0, None, 0), (9, 'dates', 'TEXT', 0, None, 0), (10, 'instructor', 'TEXT', 0, None, 0)]

FA14 Courses: []